/* Safari bounce */
.wrap{position:fixed; width:100%;height:100%; overflow:auto; -webkit-overflow-scrolling: touch;}

/* Global class css */
.appWrap { position: relative; display: flex; flex-direction: column; max-width: 640px; height: 100vh; height: calc(var(--vh, 1vh) * 100); margin: 0 auto; box-sizing: border-box;}
.gColor {color: transparent; background: linear-gradient(32deg, rgba(43,182,115,1) 0%, rgba(11,169,181,1) 100%); background-clip: text; -webkit-background-clip: text;}

/* animation */
@keyframes splashLogo { from{opacity: 0; transform: translateY(35px);} to {opacity: 1; transform: translateY(0);} }

/* splashScreen */
.splashScreen {position: fixed;top: 0;left: 0; width: 100%;height: 100vh; z-index: 9999;}
.splashScreen .logoWrap {position: absolute; top: 50%;left: 50%;transform: translate(-50%,-50%);}
.splashScreen .logoWrap h2 {position: relative; font-size: 48px;font-weight: 800; animation: splashLogo 0.75s; letter-spacing: -0.03em;}
.splashScreen .logoWrap h2 small {position: absolute; right: 0; top: -5px; font-size: 12px; font-weight: 400;letter-spacing: 0;}
.splashScreen .logoWrap h2 img {position: absolute; left: 31px; top: -4px;}
/* 그라디언트버전 */
.splashScreen.Gbg {background: linear-gradient(32deg, rgba(43,182,115,1) 0%, rgba(11,169,181,1) 100%);}
.splashScreen.Gbg .logoWrap h2{color: #fff;}
.splashScreen.Gbg .logoWrap h2 img.colorLeaf {display: none;}
.splashScreen.Gbg .logoWrap h2 img.whiteLeaf {display: block;}
/* 흰배경버전 */
.splashScreen.Wbg {background: #fff;}
.splashScreen.Wbg .logoWrap h2{background: linear-gradient(32deg, rgba(43,182,115,1) 0%, rgba(11,169,181,1) 100%); color: transparent; background-clip: text; -webkit-background-clip: text;}
.splashScreen.Wbg .logoWrap h2 small {color: #000;}
.splashScreen.Wbg .logoWrap h2 img.colorLeaf {display: block;}
.splashScreen.Wbg .logoWrap h2 img.whiteLeaf {display: none;}
/* 글로벌 버튼 스타일 */
.goingRightIcon,.goingLeftIcon {position: relative; width: 30px; height: 30px; border-radius: 50%; background: linear-gradient(32deg, rgba(43,182,115,1) 0%, rgba(11,169,181,1) 100%);}
.goingRightIcon img,.goingLeftIcon img {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}

/* 좌측상단 info버튼 및 팝업 */
.tirggerClick {cursor: pointer;position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 1;}
#infoBtn {position: absolute;top: 20px;left: 15px; width: 25px; height: 25px; display: block;}
#infoBtn img {width: 100%;}
.popupWrap {position: absolute; top: 50px; left: 15px; width: calc(100% - 30px);height: 0; max-width: 330px; padding: 30px 20px; border-radius: 20px; box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); z-index: 100; opacity: 0; visibility: hidden; transition: 0.3s opacity; background: url('../img/infoBg.png') no-repeat bottom 23px right #fff; box-sizing: border-box;}
.popupWrap.active {height: auto; opacity: 1; visibility: visible;}
.popupWrap .popupHead {display: flex; align-items: center;justify-content: space-between; margin-bottom: 25px;}
.popupWrap .popupHead h2 {font-size: 18px; font-weight: 800;}
.popupWrap .popupHead button#closePopup {display: block; width: 18px; height: 18px;}
.popupWrap .popupHead button#closePopup img{width: 100%;}
.popupWrap .popupCont ul li:not(:last-of-type) {margin-bottom: 20px;}
.popupWrap .popupCont ul li h3 { font-size: 16px; font-weight: 800; margin-bottom: 10px;}
.popupWrap .popupCont ul li p {font-size: 12px; font-weight: 400; line-height: 16px; color: #333;}

/* 초기페이지 */
.indexWrap {position: relative;height: 100%; background: url('../img/mainBg.png') no-repeat bottom center; background-size: contain;}
.indexWrap .mainCont h1 {display: flex;justify-content: center; align-items: center; height: calc(100vh - 175px);}
.indexWrap .mainCont .mainBtnBox {width: 290px; margin: 0 auto;}
.indexWrap .mainCont .mainBtnBox button{ width: 100%; height: 50px; border-radius: 25px; color: #fff;}
.indexWrap .mainCont .mainBtnBox button#gmarkCode {background-color: #2bb673;margin-bottom: 15px;}
.indexWrap .mainCont .mainBtnBox button#goMain {background-color: #0ba9b5;}
.indexWrap .mainCont .mainBtnBox button img {vertical-align: middle;margin-top: -4px; margin-right: 8px;}
.indexWrap .mainCont .mainBtnBox button span {font-size: 14px; font-weight: 600;}

/* g마크 인증후 로그인 안했을때 beforePoint.hmtl */
.pointWrap {height: 100%; padding: 50px 0;}
.pointWrap h1 {width: 120px; margin: 0 auto 30px;}
.pointWrap h1 img {width: 100%;}
.pointWrap .pointCont {width: calc(100% - 30px); height: 473px; overflow-y: auto; overflow-x: hidden; margin: auto; padding: 0 30px; border-radius: 20px; box-sizing: border-box; box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);}
.pointWrap .pointCont > div {padding: 30px 0; text-align: center;}
.pointWrap .pointCont > div h3 {font-size: 18px; font-weight: 800; margin-bottom: 15px;}
.pointWrap .pointCont > div:not(:last-of-type) {border-bottom: 1px solid #f7f7f7;}
.pointWrap .pointCont .pointBox span {display: block; font-size: 14px; font-weight: 400; line-height: 18px; word-break: keep-all;}
.pointWrap .pointCont .pointBox span .pointNumber {font-size: 36px; font-weight: 800;}

.pointWrap .pointCont .pointCollect p {font-size: 12px; font-weight: 400; line-height: 16px; margin-bottom: 26px;}
.pointWrap .pointCont .pointCollect .btnBox {display: flex; align-items: center; justify-content: center;}
.pointWrap .pointCont .pointCollect .btnBox button {width: 120px; height: 40px; border-radius: 19px; font-size: 14px; font-weight: 600; box-sizing: border-box;}
.pointWrap .pointCont .pointCollect .btnBox button#submitBtn { background: linear-gradient(32deg, rgba(43,182,115,1) 0%, rgba(11,169,181,1) 100%); margin-right: 10px; color: #fff;}
.pointWrap .pointCont .pointCollect .btnBox button#cancelBtn {border: 1px solid #e0e0e0; color: #666;}

.pointWrap .pointCont .pointService ul {display: flex; justify-content: space-between; align-items: center; width: 280px; margin: auto;}
.pointWrap .pointCont .pointService ul li figure figcaption {margin-top: 10px;}
.pointWrap .pointCont .pointService ul li figure figcaption dl dt{font-size: 12px; font-weight: 600;}

/* 로그인 */
.loginWrap {background: url('../img/lgoinBg.png') no-repeat center top 115px; background-size: contain;}
.loginWrap .loginHead {position: relative; height: 170px;}
.loginWrap .loginHead h1 {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.loginWrap .loginCont {height: calc(100vh -  170px); border-top-left-radius: 19px; border-top-right-radius: 19px; box-shadow: 0px 4px 20px 0px rgba(21, 21, 21, 0.2); background-color: #fff;}
.loginWrap .loginCont > div {width: 290px; margin: 0 auto; padding-top: 50px; text-align: center;}
.loginWrap .loginCont > div h3 {font-size: 18px; font-weight: 600; margin-bottom: 30px;}
.loginWrap .loginCont > div button {position: relative; width: 100%; height: 50px; border-radius: 25px; font-size: 14px; font-weight: 600; box-shadow: 0px 4px 10px 0px rgba(21, 21, 21, 0.2);}
.loginWrap .loginCont > div button:not(:last-of-type) {margin-bottom: 15px;}
.loginWrap .loginCont .loginBox button img {position: absolute; margin-right: 30px; left: 30px; top: 50%; transform: translateY(-50%);}
.loginWrap .loginCont .loginBox button#kakaoLogin {background-color: #ffe800; color: #381922;}
.loginWrap .loginCont .loginBox button#googleLogin {background-color: #fff; color: #666;}
.loginWrap .loginCont .loginBox button#naverLogin {background-color: #00bf18; color: #fff;}
.loginWrap .loginCont .signupBox button#signupBtn {background-color: #f7f7f7;}

/* 포인트 적립완료 */
.pointCompleteWrap {position: relative; height: 100vh; background: url('../img/lgoinBg.png') no-repeat center top 30px; background-size: contain;}
.pointCompleteWrap .pointCont {position: absolute; left: 0; bottom: 0; width: 100%; padding-top: 50px; height: calc(100vh  - 80px); border-top-left-radius: 19px; border-top-right-radius: 19px; background: url('../img/seedBagBg.png') no-repeat center center #fff; background-size: 108%; box-sizing: border-box;}
.pointCompleteWrap .pointCont .pointBox {height: calc(100% - 165px); text-align: center;}
.pointCompleteWrap .pointCont .pointBox span{display: block; font-size: 16px; font-weight: 500; line-height: 18px; word-break: keep-all;}
.pointCompleteWrap .pointCont .pointBox span .pointNumber {font-size: 36px; font-weight: 800; vertical-align: middle;}
.pointCompleteWrap .pointCont .btnBox {width: 290px; margin: 0 auto;}
.pointCompleteWrap .pointCont .btnBox button{position: relative; width: 100%; height: 50px; border-radius: 25px; font-size: 14px; font-weight: 600; box-shadow: 0px 4px 10px 0px rgba(21, 21, 21, 0.2); color: #fff;}
.pointCompleteWrap .pointCont .btnBox button img{vertical-align: middle;margin-top: -4px; margin-right: 8px;}
.pointCompleteWrap .pointCont .btnBox button#earnings{background-color: #2bb673;margin-bottom: 15px;}
.pointCompleteWrap .pointCont .btnBox button#goMain{background-color: #0ba9b5;}

/* 헤더 */
.mainHeader {position: relative; height: 65px; box-shadow: 0px 4px 20px 0px rgba(21, 21, 21, 0.1);}
.mainHeader .headType {height: 100%; padding: 0 15px; box-sizing: border-box;}

.mainHeader .headType.defaultHead {display: flex; align-items: center; justify-content: space-between;}
.mainHeader .headType.defaultHead .backPageBtn {width: 55px; height: 100%;}
.mainHeader .headType.defaultHead .backPageBtn button#backPage{height: 100%;}
.mainHeader .headType.defaultHead h1 {display: flex; align-items: center; width: 102px;}
.mainHeader .headType.defaultHead h1 a {display: block;}
.mainHeader .headType.defaultHead h1 a img {display: block; width: 100%;}
.mainHeader .headType.defaultHead .headerBtn{height: 100%;}
.mainHeader .headType.defaultHead .headerBtn button {height: 100%;}
.mainHeader .headType.defaultHead .headerBtn button img {display: block;}
.mainHeader .headType.defaultHead .headerBtn button#searchActive {margin-right: 15px;}
.mainHeader .headType.defaultHead .headerBtn button#menuActive .open{display: block;}
.mainHeader .headType.defaultHead .headerBtn button#menuActive .close{display: none;}

.mainHeader .headMenu {position: absolute; top: 65px; left: 0; width: 100%; height: calc(100vh - 65px); background-color: rgba(0, 0, 0, 0.5); z-index: 100; overflow: hidden; transition: 0.3s; opacity: 0; visibility: hidden;}
.mainHeader .headMenu nav {float: right; width: calc(100% * 0.7); height: 100%; background: linear-gradient(32deg, rgba(43,182,115,1) 0%, rgba(11,169,181,1) 100%); transition: 0.3s; transform: translateX(100%);}
.mainHeader .headMenu nav ul {padding: 15px 0;}
.mainHeader .headMenu nav ul li {padding: 15px 20px;}
.mainHeader .headMenu nav ul li a {display: block;}
.mainHeader .headMenu nav ul li a span {font-size: 16px; font-weight: 600; color: #fff;}

.mainHeader.menuOn .headType.defaultHead .headerBtn button#menuActive .open{display: none;}
.mainHeader.menuOn .headType.defaultHead .headerBtn button#menuActive .close{display: block;}
.mainHeader.menuOn .headMenu {opacity: 1; visibility: visible;}
.mainHeader.menuOn .headMenu nav {transform: translateX(0);}

.mainHeader .headType.searchHead {position: absolute; top: 0; left: 0; width: 0%; background: linear-gradient(32deg, rgba(43,182,115,1) 0%, rgba(11,169,181,1) 100%); opacity: 0; visibility: hidden; transition: 0.2s; z-index: 2;}
.mainHeader .headType.searchHead.active {width: 100%; ; opacity: 1; visibility: visible;}
.mainHeader .headType.searchHead .searchBox {position: relative; display: flex; align-items: center; height: 100%; box-sizing: border-box;}
.mainHeader .headType.searchHead .searchBox label {position: relative; display: block; width: calc(100% - 33px); height: 42px; margin-right: 15px; border-radius: 21px;}
.mainHeader .headType.searchHead .searchBox label input {display: block; width: 100%; height: 100%; padding: 0 55px 0 21px; background-color: #fff; border-radius: inherit; box-sizing: border-box; font-size: 14px;}
.mainHeader .headType.searchHead .searchBox label input::placeholder {color: #999;}
.mainHeader .headType.searchHead .searchBox label button#searchBtn {position: absolute; height: 100%; top: 50%; right: 21px; transform: translateY(-50%);}
.mainHeader .headType.searchHead .searchBox button#searchCloseBtn {height: 100%;}

/* 헤더있는 컨텐츠 */
.headonWrap {height: calc(100vh - 65px); padding-top: 30px; box-sizing: border-box;}

/* 메인 */
.mainWrap {padding-bottom: 75px; background: url('../img/mainBg2.png')no-repeat center bottom #fff; background-size: contain; box-sizing: border-box; overflow: auto;}
.mainWrap .slideWrap {width: 100%; height: 220px; overflow: auto; -ms-overflow-style: none; scrollbar-width: none;}
.mainWrap .slideWrap::-webkit-scrollbar {display: none;}
.mainWrap .slideWrap ul.noticeList {}
.mainWrap .slideWrap ul.noticeList::after {display: block; content: ''; clear: both;}
.mainWrap .slideWrap ul.noticeList li{float: left; width: 155px; margin-right: 10px; box-shadow: 0px 4px 20px 0px rgba(21, 21, 21, 0.1);}
.mainWrap .slideWrap ul.noticeList li:first-of-type {margin-left: 15px;}
.mainWrap .slideWrap ul.noticeList li:last-of-type {margin-right: 15px;}
.mainWrap .slideWrap ul.noticeList li a {display: block;}

.mainWrap .myPointBox {display: flex; width: calc(100% - 30px); margin: 10px auto 30px; padding: 0 16px; align-items: center; justify-content: space-between; height: 50px; box-shadow: 0px 4px 20px 0px rgba(21, 21, 21, 0.1); box-sizing: border-box; border-radius: 10px; background-color: #fff;}
.mainWrap .myPointBox span.boxHead {font-size: 16px; font-weight: 800;}
.mainWrap .myPointBox span.boxHead strong {color: #0ba9b5;}
.mainWrap .myPointBox span.mypoint {font-size: 14px; font-weight: 600;}
.mainWrap .myPointBox span.mypoint:after {content: ' 포인트';}

.mainWrap .goPageList {display: flex; flex-wrap: wrap; width: calc(100% - 30px); margin: 0 auto;}
.mainWrap .goPageList li {width: calc(50% - 5px); height: 75px; padding: 0 15px; border-radius: 10px; background-color: #fff; box-sizing: border-box; box-shadow: 0px 4px 20px 0px rgba(21, 21, 21, 0.1);}
.mainWrap .goPageList li:nth-of-type(n+3) {margin-top: 10px;}
.mainWrap .goPageList li:nth-of-type(odd) {margin-right: 10px;}
.mainWrap .goPageList li a {display: flex; height: 100%; align-items: center;}
.mainWrap .goPageList li a .listhead {width: calc(100% - 30px);}
.mainWrap .goPageList li a .listhead h3 {font-size: 14px; font-weight: 800; margin-bottom: 4px;}
.mainWrap .goPageList li a .listhead span {display: block; font-size: 10px; font-weight: 800; line-height: 1;}


/* 게시판 */
.communityWrap {padding-bottom: 30px; background: url('../img/mainBg2.png')no-repeat center bottom #fff; background-size: contain; overflow: auto;}
.communityWrap:after {display: block; clear: both; content: '';}
.communityWrap > div {width: calc(100% * 0.95);}
.communityWrap > div h2 {font-size: 16px; font-weight: 800;margin-bottom: 15px;}
.communityWrap > div ul li {width: 100%; height: 60px; box-shadow: 0px 4px 20px 0px rgba(21, 21, 21, 0.1); background-color: #fff;}
.communityWrap > div ul li:not(:last-of-type) {margin-bottom: 10px;}
.communityWrap > div ul li a {display: flex; height: 100%; align-items: center; justify-content: space-between; padding: 0 20px; box-sizing: border-box;}
.communityWrap > div ul li a span {font-size: 14px; font-weight: 800;}
.communityWrap > div ul li a span strong {color: #0ba9b5;}

.communityWrap > div.communityCont {float: right;}
.communityWrap > div.communityCont ul li {border-top-left-radius: 30px; border-bottom-left-radius: 30px;}

.communityWrap > div.myActiveCont {float: left; margin-top: 30px;}
.communityWrap > div.myActiveCont h2 {margin-left: calc(100% * 0.05);}
.communityWrap > div.myActiveCont ul li {border-top-right-radius: 30px; border-bottom-right-radius: 30px;}

/* 게시판 */
.boardWrap {background: url('../img/mainBg2.png')no-repeat center bottom #fff; background-size: contain;}
.boardWrap .boardHead {padding: 0 15px 15px; box-sizing: border-box;}
.boardWrap .boardHead .boardTitle {display: flex; justify-content: space-between; margin-bottom: 15px;}
.boardWrap .boardHead .boardTitle h2 {font-size: 16px; font-weight: 800;}
.boardWrap .boardHead .boardTitle a {text-decoration: underline !important; color: #5cc79e;}
.boardWrap .boardHead .boardTitle a span{font-size: 14px; font-weight: 800; }
.boardWrap .boardHead label {position: relative; display: block; height: 42px; border-radius: 21px; border: 2px solid transparent; background-image: linear-gradient(#fff, #fff), linear-gradient(to right, rgba(43,182,115,1), rgba(11,169,181,1)); background-clip: content-box, border-box; background-origin: border-box;}
.boardWrap .boardHead label input{display: block; padding: 0 55px 0 20px; background-color: #fff; width: 100%; height: 100%; box-sizing: border-box; font-size: 14px; border-radius: inherit;}
.boardWrap .boardHead label button#boardSeachBtn {position: absolute; right: 20px; top: 50%; transform: translateY(-50%);}

.boardWrap .boardList { height: calc(100% - 88px); padding: 0 15px 30px; box-sizing: border-box; overflow: auto; -ms-overflow-style: none; scrollbar-width: none;}
.boardWrap .boardList::-webkit-scrollbar {display: none;}
.boardWrap .boardList li { border-radius: 10px; box-shadow: 0px 4px 20px 0px rgba(21, 21, 21, 0.1); background-color: #fff;}
.boardWrap .boardList li a {display: block; padding: 20px;}
.boardWrap .boardList li:not(:last-of-type) {margin-bottom: 10px;}
.boardWrap .boardList li h3 {margin-bottom: 10px; font-size: 14px; font-weight: 800;}
.boardWrap .boardList li p {display: -webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; word-break: keep-all; height: 32px; margin-bottom: 12px; font-size: 12px; font-weight: 600; line-height: 16px; color: #666;}
.boardWrap .boardList li .listInfo span {display: inline-block; margin-right: -4px; font-size: 10px; font-weight: 600;}
.boardWrap .boardList li .listInfo span.writeTime{width: 55px; color: #999; vertical-align: middle;}
.boardWrap .boardList li .listInfo span.iconNum:before {display: inline-block; vertical-align: middle; margin-top: -2px; line-height: 10px; margin-right: 5px; font-family: 'xeicon'; background: linear-gradient(32deg, rgba(43,182,115,1) 0%, rgba(11,169,181,1) 100%); background-clip: text; -webkit-background-clip: text; color: transparent;}
.boardWrap .boardList li .listInfo span.iconNum.likeNum {margin-right: 10px;}
.boardWrap .boardList li .listInfo span.iconNum.likeNum::before {content: '\ea10'; }
.boardWrap .boardList li .listInfo span.iconNum.bookmarkNum::before {content: '\ea0f';}

/* 게시판 글 쓰기 */

















